p {
  font-size: 24pt; 
}

h1 {
  fontsize: 23px;
  color: purple;
}

.contianer {
  color: red;
  width: 500px;
  height: 500px;
   
  background-color: #f0f0f0;
}

#output {
  color: #000;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
  pudding: 10px;
  border: 1px solid #000;
  background-color: #f0f0f0;
}
